<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>修改日期</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student:${studentList}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${#dates.format(student.updateTime, 'yyyy年MM月dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
