<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.video.mapper.VideoMapper">

    <!--视频详细-->
    <resultMap id="videoDetailResultMap" type="com.duan.video.pojo.vo.VideoDetailVO">
        <id column="id" property="id" />
        <!--<collection property="staringList" ofType="Person" select="selectStaringList" column="id"/>-->
        <!--<collection property="directorList" ofType="Person" select="selectDirectorList" column="id"/>-->
    </resultMap>

    <!--分页查询视频-简单信息-->
    <select id="selectSimplePage" resultType="com.duan.video.pojo.entity.Video">
        select id,name,cover,score,remarks,film_length from video
        <trim prefix="where" prefixOverrides="AND">
            <if test="params.name != null and '' != params.name">
                <bind name="name_like" value="'%' + params.name + '%'" />
                AND name like #{name_like} and type &lt; 1000
            </if>
        </trim>
    </select>

    <!--分页查询视频-详细信息-->
    <select id="selectDetailPage" resultMap="videoDetailResultMap">
        select id,name,cover,score,remarks,film_length,year,synopsis,area,update_time from video
        <trim prefix="where" prefixOverrides="AND">
            <if test="params.type != null and '' != params.type">
                AND type in
                <foreach collection="params.type.split(',')" open="(" close=")" item="t" separator=",">
                    #{t}
                </foreach>
            </if>
            <if test="params.name != null and '' != params.name">
                <bind name="name_like" value="'%' + params.name + '%'" />
                AND name like #{name_like} and type &lt; 1000
            </if>
        </trim>
    </select>

    <!--查询视频的主演-->
    <select id="selectStaringList" resultType="com.duan.video.pojo.entity.Person">
      select * from person where video_id = #{id} and type = 126
    </select>

    <!--查询视频的导演-->
    <select id="selectDirectorList" resultType="com.duan.video.pojo.entity.Person">
      select * from person where video_id = #{id} and type = 124
    </select>

    <!--根据id查看视频详细-->
    <select id="getDetailById" resultMap="videoDetailResultMap">
        select id,name,cover,score,remarks,film_length,year,synopsis,area,update_time from video
        where id = #{id}
    </select>

    <!--分页查询排序视频-->
    <select id="selectSortPage" resultType="com.duan.video.pojo.vo.VideoDetailVO">
        select v.id,v.name,v.cover,v.score,v.remarks,v.film_length,v.year,v.synopsis,v.area,v.update_time from video v,video_sort vs
        where v.id = vs.video_id and vs.type = #{params.type}
    </select>
</mapper>
